@model UserViewModel

<h2>Delete User</h2>

<p>Are you sure you want to delete this user?</p>

<table class="table">
  @*  <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>*@
    <tr>
        <th>Name</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Gender</th>
        <td>@Model.Gender</td>
    </tr>
    <tr>
        <th>Age</th>
        <td>@Model.Age</td>
    </tr>
    <tr>
        <th>Weight</th>
        <td>@Model.Weight</td>
    </tr>
    <tr>
        <th>Height</th>
        <td>@Model.Height</td>
    </tr>
    <tr>
        <th>Target Weight</th>
        <td>@Model.TargetWeight</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>@Model.Email</td>
    </tr>
</table>

@using (Html.BeginForm("Delete", "Users", new { id = Model.Id }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-actions">
        <input type="submit" value="Delete" class="btn btn-danger" />
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
    </div>
}
